.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: flex-start;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
}
.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
}

  .form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .form label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    margin: 8px;
  }
  .form input {

    padding: 8px;
    border-radius: 8px;
    margin: 8px;
  }
  .form button {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }